@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../fonts/symbols-technomart.eot?22619757');
  src: url('../fonts/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../fonts/symbols-technomart.woff?22619757') format('woff'),
       url('../fonts/symbols-technomart.ttf?22619757') format('truetype'),
       url('../fonts/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */



body {
    min-width: 960px;
    padding: 0;
    margin: 0;
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: normal;
    line-height: 24px;
}

 
h1 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #32425c;
    line-height: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #000000;
    line-height: 24px;
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

header.main-header {
    margin-bottom: 60px;
    padding-bottom: 60px;
    
    background-color: #f1f5f7;
    
}

/*верхняя панелька*/

.control-of-purchases {
/*    height: 42px;*/
    margin-bottom: 45px;

    background-color: #293449;
}

.main-header-logo{
    float: left;
    
    width: 220px;
    
    box-shadow: 0 5px 0 #b52933;
    
}

.main-header-logo a {
    display: block;
    
    padding: 9px 50px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    
    background-color: #ee3643;
}

.main-header-logo a:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo a:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 #9a212a;
}

.control-of-purchases form {
/*    position: relative;*/
    float: left;
    
    width: 270px;
}

/*кнопку поиска позиционируем*/

form[name="header-search"] button[type="submit"] {
/*
    position: absolute;
    top: 7px;
    left: 8px;
*/
    float: left;
    
    width: 35px;
    margin: 0;
    padding: 9px 10px;

    border: none;
    background-color: #293449;
} 

/*убираем рамку к нопки*/

form[name="header-search"] button[type="submit"]:active {
    outline: none;
}

i.icon-search {
    font-size: 17px;
    color: #81868f;
    line-height: 1;
}

input[type="search"] {
    float: right;
    
    width: 211px;
    padding: 11px 10px 11px 14px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    line-height: 20px;
    
    background-color: #293449;
    outline: none;
    border: none;
}

form[name="header-search"]:hover, form[name="header-search"]:hover input[type="search"], form[name="header-search"]:hover button[type="submit"]{
    background-color: #212a3a;
}

form[name="header-search"]:hover .icon-search {
    color: #ffffff;
}

form[name="header-search"] input[type="search"]:focus, form[name="header-search"] input[type="search"]:focus + button[type="submit"] {
    background-color: #ffffff;
}

input[type="search"]:focus {
    color: #000000;
}

input[type="search"]:focus + button[type="submit"] > i.icon-search {
    color: #ee3643;
}
/*эффекты формы*/


/*
 input[type="search"]:hover  {
    background-color: #212a3a;
}

input[type="search"]:hover + button {
    background-color: #212a3a;
}

input[type="search"]:hover + button i.icon-search {
    color: #ffffff;
}

input[type="search"]:focus {
    background-color: #ffffff;
    color: #000000;
}

input[type="search"]:focus + button i.icon-search {
    color: #ee3643;
}

input[type="search"]:focus + button {

    background-color: #ffffff;

}
*/

/*стиль placeholder*/

input[type="search"]::-webkit-input-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}

input[type="search"]:-moz-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}


.user-controls {
    float: right;
    
    width: 450px;
    
    background-color: #76706e;
}

.user-controls a {
    float: left;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.user-controls a.control-btn {
    width: 133px;
    padding: 9px 0  9px 17px;
    
    text-align: left;
    
    background-color: #293449;
}

.user-controls a.control-btn:hover {
    background-color: #212a3a;
}



.user-controls a.control-btn:hover i.icon-bookmark, .user-controls a.control-btn:hover i.icon-basket {
    color: #ffffff;
}

.user-controls a.control-btn:active {
    color: #8b8e94;
    
    background-color: #161d29;
}

.user-controls a.control-btn:active i.icon-bookmark, .user-controls a.control-btn:active i.icon-basket {
    color: #8b8e94;
}

.user-controls i.icon-bookmark, .user-controls i.icon-basket {
    margin-right: 13px;
    
    color: #6a7180;
}

.user-controls a.header-btn {
    width: 140px;
    padding: 9px 5px;
    
    text-align: center;
    
    background-color: #63a63e;
    
}

.user-controls a.header-btn:hover {
    background-color: #5fbb2d;
}

.user-controls a.header-btn:active {
    background-color: #518534;
    color: #b1c5a8;
}

.main-header-content {
    margin-bottom: 48px;
}

/*контент шапки*/

.header-shop-info {
    float: left;
    
    width: 247px;
    margin-right: 20px;
    padding-left: 53px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
    
/*    background-color: #cccccc;*/
}

.header-contact-information {
    float: left;
    
    width: 277px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;
    text-align: center;
    
/*    background-color: #e5b5b5;*/
}
.header-contact-information p, .header-shop-info p {
    margin: 0;
}

.header-contact-information span {
    display: block;
    margin: 0;
    padding: 9px 0 8px;
    
    font-size: 21px;
    line-height: 23px;
    color: #e9292a;
    text-align: center;
    vertical-align: middle;
    
    
    border: 3px solid #ffffff;
}

.header-contact-information i.icon-phone {
    float: left;
    margin-left: 10px;
    
    color: #b7bfc8;
    
    font-size: 22px;
    line-height: 18px;
   
}

.user-block {
    float: right;
    
    width: 280px;
    
/*    background-color: red;*/
}

.user-block a.header-btn {
    display: block;
    padding: 14px 5px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: center;
    
    background-color: #ffffff;
}

.user-block a.enter {
    float: left;
    
    width: 120px;
    
    padding: 13px 0 12px;
    
    text-align: left;
}

.user-block a.registration {
    float: right;
    
    width: 140px;
}

.user-block i.icon-login {
/*    float: left;*/

    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 21px;
    color: #c5c5c5
}

.user-block a.header-btn:hover {
    color: #ee3643;
}

.user-block a.enter:hover i.icon-login {
    color: #32425c;
}

.user-block a.header-btn:active, .user-block a.enter:active i.icon-login{
    color: #c5c5c5;
}

/*основное меню*/

nav.main-navigation {
    
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    
}

nav.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.main-navigation li {
    float: left;
    
}

nav.main-navigation a {
    display: block;
    
    padding: 20px 33px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

nav.main-navigation li:first-child a {
    padding: 20px 37px;
}

nav.main-navigation a:hover {
    background-color: #293449;
}

nav.main-navigation a:active {
    color: #84888e;
    
    background-color: #1d2739;
}

/* промоблок*/

.promo {
    position: relative;
    
    width: 275px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-top: 21px;
    padding-bottom: 22px;
    
    background-color: darkorchid;
}

.promo h4 {
    margin: 0;
    margin-bottom: 12px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    
    
}

.promo a {
    display: block;
    
    width: 125px;
    padding: 10px 5px;
    
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: rgba( 0, 0, 0, 0.1);
    border-radius: 2px;
}

.promo a:hover {
    background-color: rgba( 0, 0, 0, 0.2);
}

.promo a:active {
    background-color: rgba( 0, 0, 0, 0.3);
}

span.image-window {
    position: absolute;
    display: block;
    top: 20px;
    right: 26px;
    
    width: 82px;
    height: 80px;
    
    
    background-color: red;
}

.promo.materials {
    background-color: #f6b22d;
    margin-right: 20px;
}

.promo.materials span {
    background: url("../img/sprite-promo.png") no-repeat 52% 3%;
}

.promo-new {
    position: relative;
}

.promo-new::after {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    
    top: 0;
    right: 0;
    
    background: url("../img/flag-new.png") no-repeat 50% 50%;
    
    
}

.promo.tool {
    background-color: #4aafde;
}

.promo.tool span {
    background: url("../img/sprite-promo.png") no-repeat 96% 3%;
}

.promo.technics {
    background-color: #cc79d1;
}

.promo.technics span {
    background: url("../img/sprite-promo.png") no-repeat 7% 3%;
}

.promo.discounts {
    background-color: #85d179;
}

.promo.discounts span {
    background: url("../img/sprite-promo.png") no-repeat 95% 83%;
}

.promo.delivery {
    background-color: #f6b22d;
}

.promo.delivery span {
    background: url("../img/sprite-promo.png") no-repeat 8% 83%;
}
/*левая колонка*/

.promo-block .left-col {
    
    float: left;
    width: 620px;
}


.left-col .promo {
    float: left;
    width: 275px;
}

/* ПРОМО СЛАЙДЕР*/

.promo-block-slider {
    position: relative;
    clear: both;
    
    width: 620px;
    height: 266px;
}

input[name="promo"] {
    position: absolute;
    opacity: 0;
}

.promo-slider-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;
    
    height: 10px;
    width: 80px;
    margin-left: -40px;
    
    text-align: center;
    
/*    background-color: aqua;*/
    z-index: 1000;
}

.promo-slider-controls label {
    display:inline-block;
    
    width: 6px;
    height: 6px;
    margin: 0 5px;
    
    background-color: #ffffff;
    border:2px solid #ffffff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#promo-1:checked ~ .promo-slider-controls label[for="promo-1"],
#promo-2:checked ~ .promo-slider-controls label[for="promo-2"] {
    background-color: #ee3643;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
/*    padding-left: 25px;*/
    
    overflow: hidden;
}

.slide h2 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0;
}

.slide p {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.promo-slides .slider-btn {
    display: block;
    
    width: 175px;
    margin-left: 23px;
    margin-top: 111px;
}

.promo-slides .slider-arrow {
    position: absolute;
    
    margin: 0;

    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
}

.promo-slides .left-arrow {
    top: 42%;
    left: 1%;
}
.promo-slides .right-arrow {
    top: 42%;
    right: 1%;
}

.promo-slide-1 {
    background: #8d8786 url("../img/promo-slide-1.jpg") no-repeat;
}

.promo-slide-2 {
    background: #8d8786 url("../img/promo-slide-2.jpg") no-repeat;
}

.slide {
    display: none;
}

#promo-1:checked ~ .promo-slides .promo-slide-1 {
    display: block;
}

#promo-2:checked ~ .promo-slides .promo-slide-2 {
    display: block;
}


/*правая колонка*/

.promo-block .right-col {
    float: right;
    
    width: 300px;
}

/*популярные товары*/
.popular-goods {
    margin-bottom: 20px;
    
}

.popular-goods-header, .popular-makers-header {
    margin-bottom: 20px;
    padding: 26px 30px;
    
    background-color: #f7f3ec;
}

.popular-goods-header h2, .popular-makers-header h2 {
    float: left;
    
    margin: 0;
    margin-top: 5px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
}

.popular-goods-header a, .popular-makers-header a {
    float: right;
    
    
}

a.content-btn {
    display: block;
    
    width: 232px;
    padding: 10px 10px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 3px;
}

a.content-btn:hover {
    background-color: #ca2c37;
}

a.content-btn:active {
    background-color: #ba2732;
}

/*каталог популярных товаров*/
.popular-goods-catalog {
    font-size: 0;
}

.popular-goods-catalog ul, .popular-makers-catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-goods-catalog li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    
    font-size: 18px;
}

.popular-goods-catalog li:last-child {
    margin-right: 0;
}

.catalog-item {
    width: 220px;
    min-height: 318px;
    
    background-color: aquamarine;
}

/*популярные производители*/

.popular-makers {
    margin-bottom: 20px;
}

.popular-makers-catalog {
    font-size: 0;
}

.popular-makers-catalog li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    margin-top: 10px;
    
    
}

.popular-makers-catalog li:nth-child(4n) {
    margin-right: 0;
}

.popular-makers-catalog a {
    display: block;
    
    width: 220px;
    min-height: 145px;
    
    background-color: #cccccc;
} 

/*сервисы*/

.services {
    margin-bottom: 20px;
    
    background-color: aquamarine;
}

/*сладер сервис*/

.services-slide-2, .services-slide-3 {
    display: none;
}

.slider-left-col {
    float: left;
    
    width: 300px;
    
    background-color: #79d875;
}

.services-slides {
    float: right;
    
    width: 620px;
    
    background-color: cadetblue;
}

/* информация о компании*/

.company-info .benefits {
    float: left;
    
    width: 540px;
    
    background-color: green;
}

.company-info .contacts {
    float: right;
    
    width: 300px;
    
    background-color: green;
}

.company-info-action {
    display: none;
}

/*футер*/

footer.main-footer {

}
/*верхния часть футера*/
.footer-top {
    background-color: darkblue;
}

.footer-logo {
    float: left;
    
    width: 220px;
    
    background-color: darkseagreen;
}

nav.footer-main-navigation {
    float: right;
    
    width: 550px;
    
    background-color: #cccccc;
}


.footer-sub-navigation ul, .footer-main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-sub-navigation li, .footer-main-navigation li {
    display: inline-block;
    
    margin-right: 30px;
}

.footer-contacts {
    float: left;
    
    width: 380px;
    
    background-color: #cccccc;
}

.footer-sub-navigation {
    float: right;
    
    width: 540px;
    
    background-color: darkseagreen;
}
/*нижняя часть футера*/

.footer-bottom {
    background-color: blue;
    color: white;
}

.footer-bottom p {
    margin: 0;
}

.footer-copyright {
    float: left;
    
    width: 320px;
    margin-right: 130px;
    
}

.footer-social {
    float: left;
    
    width: 180px;
    margin-right: 30px;
}

.footer-feedback {
    float: left;
    
    width: 140px;
    
    
}

.footer-developed {
    float: right;
    
    width: 140px;
}

/* КАТАЛОГ*/
/*контент шапки*/
/*логин*/

.user-block-logged {
    float: right;
    
    width: 300px;
    
    background-color: red;
}

/*основной контент*/

nav.breadcrumbs li {
    display: inline-block;
    
    margin-right: 20px;
}

/*фильтр*/

.catalog-filter-form {
    float: left;
    
    width: 220px;
    
    background-color: #cccccc;
}



/*каталог товаров*/

.catalog-products {
    float: right;
    
    width: 700px;
    
    background-color: #d85c5c;
}

.catalog-items ul, .catalog-sorting-types ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-sorting-title {
    float: left;
}

.catalog-sorting-types {
    float: right;
}

.catalog-sorting-types li {
    display: inline-block;
    
    margin-right: 15px;
}

.catalog-items {
    font-size: 0;
    
}

.catalog-items .catalog-item {
    font-size: 18px;
}

.catalog-items li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    margin-top: 20px;
    
}

.catalog-items li:nth-child(3n) {
    margin-right: 0;
    
}

.catalog-pagination li {
    display: inline-block;
    
    margin-right: 15px;
}

.category-description {
    background-color: #f2f6f8;
}


.add-to-cart-popup {
    display: none;
}