@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../fonts/symbols-technomart.eot?22619757');
  src: url('../fonts/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../fonts/symbols-technomart.woff?22619757') format('woff'),
       url('../fonts/symbols-technomart.ttf?22619757') format('truetype'),
       url('../fonts/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */



body {
    min-width: 960px;
    padding: 0;
    margin: 0;
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: normal;
    line-height: 24px;
}

 
h1 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #32425c;
    line-height: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #000000;
    line-height: 30px;
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 60px;
    padding-bottom: 60px;
    
    background-color: #f1f5f7;
    
}

/*верхняя панелька*/

.control-of-purchases {
/*    height: 42px;*/
    margin-bottom: 45px;

    background-color: #293449;
}

.main-header-logo{
    float: left;
    
    width: 220px;
    
    box-shadow: 0 5px 0 #b52933;
    
}

.main-header-logo a {
    display: block;
    
    padding: 9px 10px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    
    background-color: #ee3643;
}

.main-header-logo a:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo a:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 #9a212a;
}

.control-of-purchases form {
/*    position: relative;*/
    float: left;
    
    width: 270px;
}

/*кнопку поиска позиционируем*/

form[name="header-search"] button[type="submit"] {
/*
    position: absolute;
    top: 7px;
    left: 8px;
*/
    float: left;
    
    width: 35px;
    margin: 0;
    padding: 9px 10px;

    border: none;
    background-color: #293449;
} 

/*убираем рамку к нопки*/

form[name="header-search"] button[type="submit"]:active {
    outline: none;
}

i.icon-search {
    font-size: 17px;
    color: #81868f;
    line-height: 1;
}

input[type="search"] {
    float: right;
    
    width: 211px;
    height: 20px;
    padding: 11px 10px 11px 14px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    line-height: 20px;
    
    background-color: #293449;
    outline: none;
    border: none;
}

form[name="header-search"]:hover, form[name="header-search"]:hover input[type="search"], form[name="header-search"]:hover button[type="submit"]{
    background-color: #212a3a;
}

form[name="header-search"]:hover .icon-search {
    color: #ffffff;
}

form[name="header-search"] input[type="search"]:focus, form[name="header-search"] input[type="search"]:focus + button[type="submit"] {
    background-color: #ffffff;
}

input[type="search"]:focus {
    color: #000000;
}

input[type="search"]:focus + button[type="submit"] > i.icon-search {
    color: #ee3643;
}
/*эффекты формы*/

/*стиль placeholder*/

input[type="search"]::-webkit-input-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}

input[type="search"]:-moz-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
}


.user-controls {
    float: right;
    
    width: 450px;
    
    background-color: inherit;
}

.user-controls a {
    float: left;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.user-controls a.control-btn {
    width: 133px;
    padding: 9px 0  9px 17px;
    
    text-align: left;
    
    background-color: #293449;
}

.user-controls a.control-btn:hover {
    background-color: #212a3a;
}

.user-controls a.action {
    background-color: #ee3643;
}



.user-controls a.control-btn:hover i.icon-bookmark, .user-controls a.control-btn:hover i.icon-basket {
    opacity: 1;
}

.user-controls a.control-btn:active {
    color: #8b8e94;
    
    background-color: #161d29;
}

.user-controls a.control-btn:active i.icon-bookmark, .user-controls a.control-btn:active i.icon-basket {
    opacity: 0.5;
}

.user-controls i.icon-bookmark, .user-controls i.icon-basket {
    margin-right: 13px;
    
    color: #ffffff;
    opacity: 0.3;
}

.user-controls a.header-btn {
    width: 140px;
    padding: 9px 5px;
    
    text-align: center;
    
    background-color: #63a63e;
    
}

.user-controls a.header-btn:hover {
    background-color: #5fbb2d;
}

.user-controls a.header-btn:active {
    background-color: #518534;
    color: #b1c5a8;
}

.main-header-content {
    margin-bottom: 38px;
}

/*контент шапки*/

.header-shop-info {
    float: left;
    
    width: 247px;
    margin-right: 20px;
    padding-left: 53px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
    
/*    background-color: #cccccc;*/
}

.header-contact-information {
    float: left;
    
    width: 270px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;
    text-align: center;
    
/*    background-color: #e5b5b5;*/
}
.header-contact-information p, .header-shop-info p {
    margin: 0;
    margin-top: 4px;
}

.header-contact-information span {
    display: block;
    margin: 0;
    padding: 9px 0 8px;
    
    font-size: 21px;
    line-height: 23px;
    color: #e9292a;
    text-align: center;
    vertical-align: middle;
    
    
    border: 3px solid #ffffff;
}

.header-contact-information i.icon-phone {
    float: left;
    margin-left: 10px;
    
    color: #b7bfc8;
    
    font-size: 22px;
    line-height: 18px;
   
}

.user-block {
    float: right;
    
    width: 280px;
    
/*    background-color: red;*/
}

.user-block a.header-btn {
    display: block;
    padding: 14px 5px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-align: center;
    
    background-color: #ffffff;
}

.user-block a.enter {
    float: left;
    
    width: 120px;
    
    padding: 13px 0 12px;
    
    text-align: left;
}

.user-block a.registration {
    float: right;
    
    width: 140px;
}

.user-block i.icon-login {
/*    float: left;*/

    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 21px;
    color: #c5c5c5
}

.user-block a.header-btn:hover {
    color: #ee3643;
}

.user-block a.enter:hover i.icon-login {
    color: #32425c;
}

.user-block a.header-btn:active, .user-block a.enter:active i.icon-login{
    color: #c5c5c5;
}

/*основное меню*/

nav.main-navigation {
    
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    
}

nav.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.main-navigation li {
    float: left;
    
}

nav.main-navigation a {
    display: block;
    
    padding: 20px 33px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

nav.main-navigation li:first-child a {
    padding: 20px 37px;
}

nav.main-navigation a:hover {
    background-color: #293449;
}

nav.main-navigation a:active {
    color: #84888e;
    
    background-color: #1d2739;
}

/* промоблок*/

.promo-block {
    margin-bottom: 34px;
}

.promo {
    position: relative;
    
    width: 275px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-top: 21px;
    padding-bottom: 22px;
    
    background-color: darkorchid;
}

.promo h4 {
    margin: 0;
    margin-bottom: 12px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    
    
}

.promo a {
    display: block;
    
    width: 125px;
    padding: 10px 5px;
    
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: rgba( 0, 0, 0, 0.1);
    border-radius: 2px;
}

.promo a:hover {
    background-color: rgba( 0, 0, 0, 0.2);
}

.promo a:active {
    background-color: rgba( 0, 0, 0, 0.3);
}

span.image-window {
    position: absolute;
    display: block;
    top: 20px;
    right: 26px;
    
    width: 82px;
    height: 80px;
    
    
    background-color: red;
}

.promo.materials {
    background-color: #f6b22d;
    margin-right: 20px;
}

.promo.materials span {
    background: url("../img/sprite-promo.png") no-repeat 52% 3%;
}

.promo-new {
    position: relative;
}

.flag-new::after {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    
    top: 0px;
    right: 0px;
    
    background: url("../img/flag-new.png") no-repeat 50% 50%;
    
    z-index: 100;
    
    
}

.promo.tool {
    background-color: #4aafde;
}

.promo.tool span {
    background: url("../img/sprite-promo.png") no-repeat 96% 3%;
}

.promo.technics {
    background-color: #cc79d1;
}

.promo.technics span {
    background: url("../img/sprite-promo.png") no-repeat 7% 3%;
}

.promo.discounts {
    background-color: #85d179;
}

.promo.discounts span {
    background: url("../img/sprite-promo.png") no-repeat 95% 83%;
}

.promo.delivery {
    background-color: #f6b22d;
}

.promo.delivery span {
    background: url("../img/sprite-promo.png") no-repeat 8% 83%;
}
/*левая колонка*/

.promo-block .left-col {
    
    float: left;
    width: 620px;
}


.left-col .promo {
    float: left;
    width: 275px;
}

/* ПРОМО СЛАЙДЕР*/

.promo-block-slider {
    position: relative;
    clear: both;
    
    width: 620px;
    height: 266px;
}

input[name="promo"] {
    position: absolute;
    opacity: 0;
}

.promo-slider-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;
    
    height: 10px;
    width: 80px;
    margin-left: -40px;
    
    text-align: center;
    
/*    background-color: aqua;*/
    z-index: 1000;
}

.promo-slider-controls label {
    display:inline-block;
    
    width: 6px;
    height: 6px;
    margin: 0 5px;
    
    background-color: #ffffff;
    border:2px solid #ffffff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#promo-1:checked ~ .promo-slider-controls label[for="promo-1"],
#promo-2:checked ~ .promo-slider-controls label[for="promo-2"] {
    background-color: #ee3643;
}

.prm-slide {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
/*    padding-left: 25px;*/
    
    overflow: hidden;
}

.prm-slide h2 {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
 
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 1px;
    padding: 0;
}

.prm-slide p {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.promo-slides .slider-btn {
    display: block;
    
    width: 175px;
    margin-left: 23px;
    margin-top: 120px;
}

.promo-slides .slider-arrow {
    position: absolute;
    
    margin: 0;
    
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.promo-slides .left-arrow {
    top: 42%;
    left: 1%;
}
.promo-slides .right-arrow {
    top: 42%;
    right: 1%;
}

.promo-slide-1 {
    background: #8d8786 url("../img/promo-slide-1.jpg") no-repeat;
}

.promo-slide-2 {
    background: #8d8786 url("../img/promo-slide-2.jpg") no-repeat;
}

.prm-slide {
    display: none;
}

#promo-1:checked ~ .promo-slides .promo-slide-1 {
    display: block;
}

#promo-2:checked ~ .promo-slides .promo-slide-2 {
    display: block;
}


/*правая колонка*/

.promo-block .right-col {
    float: right;
    
    width: 300px;
}

/*популярные товары*/
.popular-goods {
    margin-bottom: 20px;
    
}

.popular-goods-header, .popular-makers-header {
/*    margin-bottom: 20px;*/
    padding: 26px 30px;
    
    background-color: #f7f3ec;
}

.popular-goods-header h2, .popular-makers-header h2 {
    float: left;
    
    margin: 0;
    margin-top: 5px;
    
    color: #32425c;
}

.popular-goods-header a, .popular-makers-header a {
    float: right;
    
    
}

a.content-btn {
    display: block;
    
    width: 232px;
    padding: 10px 10px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 3px;
}

a.content-btn:hover {
    background-color: #ca2c37;
}

a.content-btn:active {
    background-color: #ba2732;
}

/*каталог популярных товаров*/
.popular-goods-catalog {
    font-size: 0;
}

.popular-goods-catalog ul, .popular-makers-catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-goods-catalog li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    margin-top: 20px;
    
    font-size: 18px;
}

.popular-goods-catalog li:last-child {
    margin-right: 0;
}

.catalog-item {
    position: relative;
    width: 218px;
    min-height: 318px;
    
    text-align: center;
    
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.catalog-item .catalog-item-action {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: #ffffff; 
}

.catalog-item-action .buy-accept,
.catalog-item-action .add-to-boookmarks {
  
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    
    border-radius: 3px;
    background-color: #63a63e;
}

.catalog-item-action .buy-accept {
    box-shadow: inset 0 -3px 0 #367315;
}

.catalog-item-action .add-to-boookmarks {
    width: 129px;
    padding: 7px 0;
    
    color: #32425c;
    
    border: 3px solid #63a63e;
    background-color: #ffffff;
}

.catalog-item .catalog-item-action {
    display: none;
}

.catalog-item:hover .catalog-item-action {
    display: block;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
    border: none;
    width: 220px;
}

.catalog-item-action .buy-accept:hover {
    background-color: #5fbb2d;
}

.catalog-item-action .buy-accept:active {
    background-color: #518534;
    box-shadow: none;
}

.catalog-item-action .add-to-boookmarks:hover {
    border: 3px solid #32425c;
}

.catalog-item-action .add-to-boookmarks:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}

.item-image {
    width: 100%;
    height: 175px;
    
    line-height: 175px;
    text-align: center;
    
    background-color: #ffffff;
}

.item-image img {
    vertical-align: middle;
    
/*    background-color: #ffffff;*/
}

.catalog-item h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    
    margin: 0;
    margin-top: 5px;
    margin-bottom: 6px;
    
    padding: 0 25px;
}

.old-price {
    
    min-height: 30px;
    margin-bottom: 3px;
    
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: #999999;
    text-decoration: line-through;
    vertical-align: middle;
}

.price {
    position: relative;
    width: 137px;
    padding: 10px 0;
    
    margin: 0 auto;
    
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    
    background-color: #ee3643;
}

.price::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -22px;
    
    width: 0;
    height: 0;
/*    background-color: #ffffff;*/
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
    
    z-index: 20;
}

.catalog-item.flag-new::after {
    top: -1px;
    right: -1px;
}

/*ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/

.popular-makers {
    margin-bottom: 20px;
}

.popular-makers-catalog {
    font-size: 0;
}

.popular-makers-catalog li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    margin-top: 20px;
    
    
}

.popular-makers-catalog a:hover {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
    border: none;
    width: 220px;
}

.popular-makers-catalog a:active {
    box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
    border: none;
    width: 220px;
}

.popular-makers-catalog a:active img {
    opacity: 0.3;
}

.popular-makers-catalog li:nth-child(4n) {
    margin-right: 0;
}

.popular-makers-catalog a {
    display: block;
    
    width: 218px;
    min-height: 145px;
    
    background-color: #ffffff;
    text-align: center;
    line-height: 145px;
    
    border: 1px solid #e7e7e7;
} 

.popular-makers-catalog img {
    vertical-align: middle;
}



/*СЕРВИСЫ*/

.services {
    margin-bottom: 54px;
    
    background-color: #f2f6f8;
}

.services-description {
    padding: 65px 0 69px;
}

.services-description h2 {
    
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.services-description p {
    margin: 0;
    padding: 0;
}



/*С Л А Й Д Е Р  С Е Р В И С*/

.services-slider {
    position: relative;
    
    min-height: 290px;
}

.slider-left-col {
    float: left;
    
    width: 300px;
    
/*    background-color: #79d875;*/
}

input[name="services"] {
    position: absolute;
    opacity: 0;
}

.services-slider-controls {
    position: relative;
    width: 240px;
}

.services-slider-controls ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-slider-controls li {
    padding: 15px 0 15px 23px;
    margin: 0;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;
    cursor: pointer;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}

.services-slider-controls::after {
    content: " ";
    position: absolute;
    top: -23%;
    right: 0;
    
    width: 10px;
    height: 272px;
    
    background: url("../img/services-slider-right-border.png") no-repeat;
}

#service-1:checked ~ .slider-left-col .services-slider-controls label[for="service-1"] li,
#service-2:checked ~ .slider-left-col .services-slider-controls label[for="service-2"] li,
#service-3:checked ~ .slider-left-col .services-slider-controls label[for="service-3"] li {
    background-color: #ffffff;
    color: #32425c;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.services-slides {
    position: relative;
    float: right;
    
    width: 620px;
    height: 290px;
    
/*    background-color: cadetblue;*/
}

.service-slide {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.service-slide h3 {
    margin: 0;
    padding: 0;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin-bottom: 25px;
}



.service-slide a.content-btn {
    width: 175px;
    margin-top: 26px;
} 



.services-slide-1 {
    background: url("../img/bg-services-slide-1.png") no-repeat 100% 60%;
}

.services-slide-2 {
    background: url("../img/bg-services-slide-2.png") no-repeat 100% 0%;
}

.services-slide-3 {
    background: url("../img/bg-services-slide-3.png") no-repeat 94% 0%;
}

.service-slide {
    display: none;
}

#service-1:checked ~ .services-slides .services-slide-1 {
    display: block;
}

#service-2:checked ~ .services-slides .services-slide-2 {
    display: block;
}

#service-3:checked ~ .services-slides .services-slide-3 {
    display: block;
}


/* И Н Ф О Р М А Ц И Я  О  К О М П А Н И И*/
.company-info {
    padding-bottom: 86px;
}

.company-info .benefits {
    float: left;
    
    width: 540px;
    
/*    background-color: green;*/
}

.company-info .contacts {
    float: right;
    
    width: 300px;
    
/*    background-color: green;*/
}

.company-info-action {
    display: none;
}

.benefits p:not(:last-of-type) {
    margin: 0;
    margin-bottom: 25px;
}

.benefits p:last-of-type {
    margin: 0;
    margin-bottom: 10px;
}

.benefits ul {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.benefits li {
    position: relative;
    padding: 10px 0 10px 38px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

.benefits li::before {
    content: " ";
    position: absolute;
    top: 20px;
    left: 0;
    
    width: 25px;
    
    border: 1px solid #fb565a;
}

.contacts p {
    margin-bottom: 31px;
}

.contacts a.content-btn {
    width: auto;
    margin-top: 36px;
}













/*Ф У Т Е Р*/

.main-footer {

}
/*верхния часть футера*/
.footer-top {
    background-color: #32425c;
}

.footer-menu {

    margin-bottom: 14px;
}
 
.footer-logo {
    float: left;
    
    width: 220px;
    
    box-shadow: 0 5px 0 #b52933;
}

.footer-logo a {
    display: block;
    
    padding: 20px 10px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    
    background-color: #ee3643;
}

.footer-logo a:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.footer-logo a:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 #9a212a;
}

nav.footer-main-navigation {
    float: right;
    
    width: 546px;
    margin-top: 39px;
    
/*    background-color: #cccccc;*/
}


.footer-sub-navigation ul, .footer-main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-sub-navigation li, .footer-main-navigation li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 55px;
}

.footer-sub-navigation li:last-child,
.footer-main-navigation li:last-child {
    margin-right: 0;
}

.footer-main-navigation a,
.footer-sub-navigation a {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    
}

.footer-main-navigation a {
    color: #f1f5f7;
}

.footer-sub-navigation a {
    color: #ffd180;
}

.footer-main-navigation a:hover, 
.footer-sub-navigation a:hover {
    text-decoration: underline;
}

.footer-main-navigation a:active,
.footer-sub-navigation a:active {
    opacity: 0.5;
}

.footer-categories {
    padding-bottom: 31px;
}

.footer-contacts {
    float: left;
    
    width: 380px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    
    
/*    background-color: #cccccc;*/
}

.footer-sub-navigation {
    float: right;
    
    width: 524px;
    margin-top: 19px;
    
/*    background-color: darkseagreen;*/
}
/*нижняя часть футера*/

.footer-bottom {
    padding: 37px 0 29px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
    
}

.footer-social a{
    display: inline-block;
    vertical-align: top;

    width: 41px;
    height: 41px;
    
    font-size: 18px;
    line-height: 41px;
    color: #ffffff;
    
    background-color: #212a3a;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}

.footer-social a:hover,
.footer-social a:active {
    background-color: #ee3643;
}

/*
.footer-social i {
    vertical-align: middle;
}
*/


.footer-feedback a,
.footer-developed a {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
    text-decoration: none;
}

.footer-feedback a:hover,
.footer-developed a:hover {
    text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
    color: #ee3643;
}


.footer-bottom p {
    margin: 0;
}

.footer-copyright {
    float: left;
    
    width: 320px;
    margin-right: 68px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
    
}

.footer-social {
    float: left;
    
    width: 180px;
    margin-right: 72px;
}

.footer-feedback {
    float: left;
    
    width: 140px;
    
    
}

.footer-developed {
    float: right;
    
    width: 111px;
}

/* КАТАЛОГ ----------------------------------------------------------------------*/
/*контент шапки*/
/*логин*/
.catalog-page .main-header {
    margin-bottom: 0;
}

.user-block-logged {
    float: right;
    
    width: 300px;
}

.user-logged-field {
    padding: 13px 3px 8px 15px;

    background-color: #ffffff;
}

.user-logged-field a.logged-user-name {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    
    background-color: #ffffff;
    text-align: left;
}

.user-logged-field a.logged-user-out {
    float: right;
}

.logged-user-name .icon-user {
    float: left;
    margin-right: 10px;
    
    font-size: 18px;
    line-height: 18px;
    color: #c5c5c5;
}

.logged-user-out .icon-logout {
    
    font-size: 22px;
    line-height: 22px;
    color: #c5c5c5;
}

.user-logged-menu ul {
    padding: 0;
    padding-left: 17px;
    padding-top: 5px;
    margin: 0;
}

.user-logged-menu li {
    float: left;
    margin-right: 27px;
    padding: 0 2px;
}

.user-logged-menu li:first-child {
    list-style: none;
    
}

.user-logged-menu a {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

a.logged-user-out:hover .icon-logout, a.logged-user-name:hover .icon-user {
    color: #32425c;
}

a.logged-user-name:active  {
    opacity: 0.3;
}

a.logged-user-name:active .icon-user {
    color: #c5c5c5;
}

.user-logged-menu a:hover {
    color: #ee3643;
}

.user-logged-menu a:active {
    color: #32425c;
    opacity: 0.3;
}



/*основной контент*/

.breadcrumbs {
    padding: 18px 0;
}

.breadcrumbs ul {
    margin: 0;
    margin-left: -3px;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 7px;
}

.breadcrumbs li:first-child {
    margin-right: 0;
}

.breadcrumbs a, .breadcrumbs span {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.breadcrumbs .icon-home {
    font-size: 16px;
    color: #c1c6ce;
    line-height: 20px;
}

.breadcrumbs .icon-right {
    font-size: 14px;
    color: #c1c6ce;
    line-height: 20px;
    margin-right: 10px;
} 

.catalog {
    margin-bottom: 59px;
}



.catalog-title {
    padding: 10px 30px;
    margin-bottom: 20px;
    
    background-color: #f2f6f8;
}



/*фильтр*/

.catalog-filter-form {
    float: left;
    
    width: 220px;
    
/*    background-color: #cccccc;*/
}

.filter-title {
    padding: 7px 19px;
    margin-bottom: 11px;
    
    background-color: #f7f3ec;
}

.filter-title span, .catalog-sorting-title span {
    text-transform: uppercase;
    
}

.catalog-filter-form fieldset {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding-bottom: 24px;
    
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-switches fieldset:last-of-type {
    border: none;
}

.catalog-filter-form legend {
    margin-bottom: 14px;
    
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    
    text-transform: uppercase;
}

.range-filter {
    width: 220px;
}

.range-controls {
    position: relative;
    
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    
    border-radius: 3px;
    background: #f7f3ec;
}

.range-controls .scale {
    height: 2px;
    
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    
    width: 4px;
    height: 4px;
    
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls span {
    font-size: 16px;
    line-height: 38px;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    
    width: 47%;
    
    font-size: 17px;
    line-height: 18px;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-size: 17px;
    line-height: 18px;
    width: 75px;
/*    margin-left: 10px;*/
    padding: 8px 10px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #f7f3ec;
}

.catalog-filter-form input[type="checkbox"],
.catalog-filter-form input[type="radio"]{
    display: none;
}

.filter-switches label {
    position: relative;
    display: block;

    
    width: 150px;
    padding-left: 35px;
    margin-bottom: 20px;
    
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-switches label:last-of-type {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content:"\2610";
    font-family: "symbols-technomart";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: #c1c1c1;
}

input[type="checkbox"]:checked + label:before {
    content:"\2611";
    font-family: "symbols-technomart";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: #c1c1c1;
}

input[type="radio"] + label:before {
    content:"\25cb";
    font-family: "symbols-technomart";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: #c1c1c1;
}

input[type="radio"]:checked + label:before {
    content:"\25cf";
    font-family: "symbols-technomart";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: #c1c1c1;
}

.filter-switches label:hover:before,
input[type="radio"]:checked + label:hover:before,
input[type="checkbox"]:checked + label:hover:before{
    color: #b5b5b5;
}

input[type="checkbox"]:disabled + label:before,
input[type="radio"]:disabled + label:before,{
    opacity: 0.3;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    opacity: 0.4;
}

.catalog-filter-form button[type="submit"] {
    padding: 8px 38px;
    margin-top: 37px;
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    outline: none;
}




/*каталог товаров --------------------------------------------------------------------*/

.catalog-products {
    float: right;
    
    width: 700px;
    
/*    background-color: #d85c5c;*/
}

.catalog-sorting {
    background-color: #f7f3ec;
    padding: 5px 5px 5px 20px;
}


.catalog-items ul, .catalog-sorting-types ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-sorting-title {
    float: left;
}

.catalog-sorting-types {
    float: left;
    margin-left: 140px;
}

.catalog-sorting-arrows {
    float: right;
    
}

.catalog-sorting-types a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dotted #ee3643;
    color: #000000;
}

.catalog-sorting-types a span {
    opacity: 0.3;
}

.catalog-sorting-types a:hover {
    border-bottom: 1px solid #ee3643;
}

.catalog-sorting-types a:hover span {
    opacity: 1;
}

.active-type a,
.catalog-sorting-types a:active {
    border: none;
}

.active-type a span,
.catalog-sorting-types a:active span {
    opacity: 1;
    color: #ee3643;
}

.catalog-sorting-types li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 65px;
}

.catalog-sorting-types li:last-child {
    margin-right: 0;
}

.catalog-sorting-arrows .icon-up-dir,
.catalog-sorting-arrows .icon-down-dir {
    font-size: 23px;
    line-height: 23px;
    color: #c6c2bd;
}

.catalog-sorting-arrows .icon-down-dir {
    margin-left: -4px;
}

.catalog-sorting-arrows a:hover .icon-up-dir,
.catalog-sorting-arrows a:hover .icon-down-dir {
    color: #000000;
}

.catalog-sorting-arrows a:active .icon-up-dir,
.catalog-sorting-arrows a:active .icon-down-dir {
    color: #ee3643;
}

.active-arrow .icon-up-dir,
.active-arrow .icon-down-dir {
    color: #ee3643;
}

.catalog-items {
    font-size: 0;
    margin-bottom: 53px;
}

.catalog-items .catalog-item {
    font-size: 18px;
}

.catalog-items li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    margin-top: 20px;
    
}

.catalog-items li:nth-child(3n) {
    margin-right: 0;
    
}
.catalog-pagination ul {
    padding: 0;
    margin: 0;
    line-height: 38px;
}

.catalog-pagination li {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 5px;
}

.catalog-pagination a {
    padding: 9px 15px;
    
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 13px;
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    
    
}

.catalog-pagination a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-pagination a:active {
    border: 1px solid #ee3643;
}

.catalog-pagination .active-page {
    padding: 12px 16px;
    
    
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    line-height: 13px;
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 3px;
    border: none;
    background-color: #ee3643;
}

.catalog-pagination .next-page a {
    padding: 9px 31px;
}

.category-description {
    background-color: #f2f6f8;
}

.category-description .container {
    padding: 40px 0 55px;
}

.category-description h2 {
    margin-bottom: 27px;
}


.add-to-cart-popup {
    display: block;
    
    width: 620px;
/*    min-height: 277px;*/
    padding-top: 6px;
    margin: 100px auto;
    
    border-top: 7px solid #ee3643;
    text-align: center;
    
    background: url("../img/add-to-cart-popup-check-img.png") no-repeat 80px 47px;
    
    box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.success-add span {
    clear: both;
    
    margin-left: 55px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.closing-cross {
    float: right;
    
    color: #ee3643;
    font-size: 65px;
    padding: 0;
    margin: 0;    
    border: none;
    background: none;
    outline: none;
}

.success-add {
    margin-top: 60px;
    
    
}

.popup-control {
    margin-top: 67px;
    padding: 37px 0;
    
    background-color: #f1f1f1;
}

.popup-control .content-btn {
    display: inline-block;
    vertical-align: top;
    
    width: 200px;
    padding: 10px 10px;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 3px;
    border: none;
    outline: none;
}

.popup-control button.content-btn {
    width: 220px;
    margin-left: 20px;
    
    color: #000000;
    background-color: #ffffff;
}

.write-us-popup {
    width: 620px;
/*    min-height: 277px;*/
    padding-top: 6px;
    margin: 100px auto;
    
    border-top: 7px solid #ee3643;
    text-align: center;
    
    box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.form-control {
    margin-top: 28px;
    padding: 37px 0;
    
    background-color: #f1f1f1;
}

.form-control .content-btn {
    display: inline-block;
    vertical-align: top;
    
    width: 220px;
    padding: 10px 10px;
    margin: 0;
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #ee3643;
    border-radius: 3px;
    border: none;
    outline: none;
}

.form-control button[type="reset"] {
    margin-left: 20px;
    
    background-color: #ffffff;
    color: #000000;
}

.popup-container {
    width: 460px;
    margin: 0 auto;
    padding-top: 39px;
    
    text-align: left;
}

.write-us-popup label {
/*    margin-bottom: 13px;*/
    
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.write-us-popup input {
    width: 185px;
    padding: 9px 15px;
    margin-top: 5px;
    margin-bottom: 19px;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.popup-left-col {
    float: left;
}

.popup-right-col {
    float: right;
}

.popup-left-col,
.popup-right-col {
    width: 220px;
}

#message-text {
    margin: 0;
    margin-top: 5px;
    padding: 5px 10px 5px 14px;
    width: 431px;
    height: 98px;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}